@model IEnumerable<Web_First.Models.San_Pham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Loai_SP_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loai_SP_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name_SP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price_SP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mo_Ta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Loai_SP_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loai_SP_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name_SP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price_SP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mo_Ta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_SP">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_SP">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_SP">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
